@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Nunito", sans-serif;
}
.cancel_btn {
    background-color: #fff;
    color: #ff9138;
    border: 1px solid #ff9138;
    border-radius: 5px;
}
.ant-dropdown-menu-item:hover {
    background-color: #fff2e7 !important;
    color: #ff9138 !important;
}
.ant-input:hover,
button.ant-btn:hover,
textarea:hover {
    border: 2px solid #ff9138 !important;
    box-shadow: 0 0 4px #ff9138 !important;
}
.ant-input:hover + .ant-input-prefix,
.ant-input:hover + .ant-input-suffix {
    border-color: initial !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 24px !important;
    font-weight: bold;
}
html,
body,
#root {
    height: 100%;
}

.layout {
    height: 100%;
}

.layout-content {
    overflow: auto;
}

.fixed-card {
    position: fixed;
    bottom: 50;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: #fff2e7;
    color: #ff7506;
}

.fixed-card-service {
    position: fixed;
    bottom: 50;
    right: 0;
    width: 100px;
    height: 200px;
    background-color: #fff2e7;
    color: #ff7506;
}

.ant-table-thead > tr > th,
.ant-table-thead > tr > td {
    background-color: #ff9138 !important;
    color: #fff !important;
}

.ant-pagination-item-active a {
    background-color: #ff7506;
    color: white !important;
    border-color: #ff7506 !important;
}

.custom-color {
    color: #ff7506;
}
.ant-menu .ant-menu-item:hover {
    background-color: #fff2e7 !important;
    color: #ff9138 !important;
}

.ant-menu .ant-menu-item-selected {
    background-color: #ff7506 !important;
    color: white !important;
}
.custom-input-container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    position: absolute;
    right: 8px;
    bottom: 0;
}

.blue-checkbox .ant-checkbox-inner {
    border-color: blue;
}
.table-striped tbody tr:nth-child(even) {
    background-color: #fff2e7;
}
.mainColor {
    color: #ff7506 !important;
}
.mainColorLight {
    color: #fff2e7;
}

.flex_home {
    display: flex;
    height: 100vh;
    width: 100vw;
}
#form {
    margin-left: 20px;
    border-radius: 10px;
    width: 90%;
}
.ant-modal-footer {
    background: #ff9138 !important;
    border-radius: 0 0 24px 24px !important;
    border-top: 0 solid #f0f0f0 !important;
    margin-top: 0 !important;
}
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffac6a;
    border-radius: 8px;
}

.ant-layout-sider.ant-layout-sider-light {
    overflow-x: hidden !important;
}
.icon-center {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.cirle-inside {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.ant-card .ant-card-body {
    padding: 10px !important;
}

.spectrum-Icon_368b34.spectrum-UIIcon-ChevronLeftLarge_368b34.spectrum-Icon_e2d99e
    path,
.spectrum-Icon_368b34.spectrum-UIIcon-ChevronRightLarge_368b34.spectrum-Icon_e2d99e
    path {
    fill: #ff7506 !important;
}
.spectrum-Calendar-body_6099b6.spectrum-Calendar-table_6099b6
    thead
    .spectrum-Calendar-tableCell_6099b6
    span {
    color: #ff7506 !important;
    font-size: 13px !important;
    margin: 5px 0px !important;
    border-top: 1px solid #dcddfd !important;
}

.spectrum-Calendar-date_6099b6.is-range-selection_6099b6 {
    background-color: #fff2e7 !important;
    color: #ff7506 !important;
}
.spectrum-Calendar-date_6099b6.is-selection-start_6099b6,
.spectrum-Calendar-date_6099b6.is-selection-end_6099b6 {
    background-color: #ff7506 !important;
    color: #fff !important;
    border-radius: 8px !important;
}
.spectrum-Calendar-monthHeader_6099b6 {
    color: #ff7506 !important;
    font-size: 15px !important;
    padding-bottom: 5px;
}
