.ant-menu .ant-menu-item:hover {
  background-color: #fff2e7 !important;
  color: #ff9138 !important;
}

.ant-menu .ant-menu-item-selected {
  background-color: #ff7506 !important;
  color: white !important;
}

.menu-item {
  text-decoration: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

a:hover {
  color: #ff9138 !important;
}

.menu-item:hover {
  background-color: #fff2e7 !important;
  color: #ff9138 !important;
}

.ant-menu-submenu-title:hover {
  background-color: #fff2e7 !important;
  color: #ff9138 !important;
}
